@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&display=swap");
:root {
  --azul-1: #1B50D8;
  --azul-2: #152039;
  --laranja-1: #FF8900;
  --preto-1: #0D0D0D;
  --preto-2: #171717;
  --branco-1: #FFFFFF;
  --branco-2: #F2F2F2;
  --destaque: "Lilita One", cursive;
  --padrao: "Varela Round", sans-serif;
  --size: 1.8rem;
  --suave: .5s ease;
}

@keyframes pulse {
  50% {
    background-color: var(--laranja-1);
  }
}
@keyframes wiggle {
  0%, 80%, 100% {
    transform: rotate(35deg);
  }
  85% {
    transform: rotate(45deg);
  }
  95% {
    transform: rotate(25deg);
  }
}
@keyframes pisca {
  50% {
    color: white;
  }
}
@keyframes pisca2 {
  50% {
    color: var(--laranja-1);
    font-size: calc(var(--size) * 1.1);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(-3%);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, var(--preto-1), var(--azul-2), var(--azul-1));
  color: var(--branco-1);
  font-size: var(--size);
  font-family: var(--padrao);
  cursor: default;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, var(--preto-2), var(--azul-2), var(--azul-1));
}

body::-webkit-scrollbar-thumb {
  background: var(--laranja-1);
  border-radius: 16px;
}

.btn {
  background-color: var(--laranja-1);
  border-radius: 34px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--azul-2);
  transition: var(--suave);
}
.btn:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.btn i {
  font-size: calc(var(--size) * 0.9);
}

.btn-white {
  background: transparent;
  border-radius: 34px;
  padding: 10px 20px;
  color: var(--branco-1);
  text-decoration: none;
  transition: var(--suave);
  border: 2px solid var(--branco-1);
}
.btn-white:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--laranja-1);
  color: var(--azul-2);
  border-color: var(--laranja-1);
}
.btn-white i {
  font-size: calc(var(--size) * 0.9);
}

.btn-open,
.btn-close {
  display: none;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  transition: var(--suave);
}
.btn-open:hover i,
.btn-close:hover i {
  filter: brightness(120%);
  cursor: pointer;
}
.btn-open i,
.btn-close i {
  font-size: calc(var(--size) * 1.5);
  color: var(--laranja-1);
}

h2 {
  position: relative;
  text-decoration: none;
  font-size: calc(var(--size) * 2);
  align-self: flex-start;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -10px;
  background-color: currentColor;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
h2:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: currentColor;
}

section {
  margin: 100px auto;
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  height: 85px;
}
header h1 {
  background: url(../assets/logos/logo-vazio.png) no-repeat center center;
  background-size: contain;
  height: 85px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--size) * 1.2);
}
header h1 a {
  color: transparent;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
header .categorias {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style-type: none;
}
header .categorias a {
  position: relative;
  color: white;
  text-decoration: none;
}
header .categorias a:hover > .fa-solid {
  color: var(--laranja-1);
}
header .categorias a::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 4px;
  bottom: -10px;
  left: -10%;
  background-color: var(--laranja-1);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
header .categorias a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: currentColor;
}
header .categorias a i {
  transition: 0.3s ease;
}
header .redes {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .redes li {
  background-color: var(--branco-1);
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
header .redes li:hover i {
  color: var(--laranja-1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
header .redes li i {
  color: var(--azul-2);
  font-size: calc(var(--size) * 1.2);
  transition: 0.3s ease;
  margin-top: 2px;
}
header .redes li:nth-child(3) {
  animation: pulse 2.5s infinite;
}
header .redes li:nth-child(3):hover {
  animation: none;
  background-color: var(--laranja-1);
}
header .redes li:nth-child(3):hover i {
  color: var(--azul-1);
}

main .nuvens i {
  font-size: calc(var(--size) * 4.5);
  position: absolute;
  transition: 0.3s ease;
  transform: translateX(-50%);
}
main .nuvens i:hover {
  text-shadow: 0 0 10px white;
}
main .nuvens .nuvem_1 {
  left: 0%;
  top: 50px;
}
main .nuvens .nuvem_2 {
  left: 100%;
  top: 300px;
}
main .nuvens .nuvem_3 {
  left: 0%;
  top: 550px;
}
main .nuvens .nuvem_4 {
  left: 100%;
  top: 1050px;
}
main .nuvens .nuvem_5 {
  left: 0%;
  top: 1570px;
}
main .nuvens .nuvem_6 {
  left: 100%;
  top: 2180px;
}
main .nuvens .nuvem_7 {
  left: 0%;
  top: 3000px;
}
main .nuvens .nuvem_8 {
  left: 100%;
  top: 3650px;
}
main .nuvens .nuvem_9 {
  left: 0%;
  top: 4000px;
}
main .nuvens .nuvem_10 {
  left: 100%;
  top: 4680px;
}
main .banner-bg {
  z-index: 1;
  background: url(../assets/itens/estrelas.svg) repeat;
  background-size: contain 100vw;
}
main .banner-bg .trilha {
  background: url(../assets/itens/trilha.svg) no-repeat;
  background-size: 100% 100%;
  background-position: -6px;
}
main .banner-bg .trilha .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  height: 600px;
  margin: auto;
}
main .banner-bg .trilha .banner .cloud {
  color: var(--branco-1);
}
main .banner-bg .trilha .banner .cloud i {
  transition: 0.3s ease;
}
main .banner-bg .trilha .banner .cloud i:hover {
  text-shadow: 0 0 10px white;
}
main .banner-bg .trilha .banner .wise {
  color: var(--laranja-1);
  margin: 30px auto;
}
main .banner-bg .trilha .banner span {
  font-size: calc(var(--size) * 5);
  font-weight: 900;
  font-family: var(--destaque);
  letter-spacing: 5px;
}
main .banner-bg .trilha .banner p {
  font-size: calc(var(--size) * 1.2);
}
main .sobre {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 600px;
}
main .sobre .sobre__txt {
  padding: 30px;
  cursor: default;
}
main .sobre .sobre__txt p {
  margin: 40px auto;
}
main .sobre .sobre__imgs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
main .sobre .sobre__imgs img {
  margin: auto;
}
main .sobre .sobre__imgs img:nth-child(1) {
  border-radius: 50px 0 0 0;
  width: 90%;
  height: 90%;
  transform: translate(5px, 10px);
}
main .sobre .sobre__imgs img:nth-child(2) {
  border-radius: 0 50px 0 0;
  width: 78%;
  height: 78%;
  transform: translate(-25px, 30px);
}
main .sobre .sobre__imgs img:nth-child(3) {
  border-radius: 0 0 0 50px;
  width: 78%;
  height: 78%;
  transform: translate(23px, -20px);
}
main .sobre .sobre__imgs img:nth-child(4) {
  border-radius: 0 0 50px 0;
  width: 90%;
  height: 90%;
  transform: translate(-7px, 0);
}
main .como {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 700px;
}
main .como .como__img {
  display: grid;
  place-items: center;
  background: url(../assets/itens/sombra.svg) no-repeat;
  background-size: 100% 100%;
  background-position: -20% 50%;
}
main .como .como__img img {
  border-radius: 50px;
  width: 400px;
  height: 400px;
}
main .como .como__txt {
  display: grid;
  align-items: flex-end;
}
main .como .como__txt ul {
  margin: auto;
}
main .como .como__txt li:hover i {
  color: var(--laranja-1);
}
main .como .como__txt h3 {
  font-weight: bold;
  font-size: calc(var(--size) * 1.1);
  transform: translateX(-7%);
  margin-top: 10px;
}
main .como .como__txt h3 i {
  transition: var(--suave);
}
main .como .como__txt p {
  margin: 20px auto;
  font-size: calc(var(--size) * 0.75);
}
main .mvv-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
main .mvv-menu input {
  display: none;
}
main .mvv-menu input:checked ~ label {
  color: var(--laranja-1);
  position: relative;
  font-size: calc(var(--size) * 1.2);
  margin-bottom: 15px;
  align-self: flex-start;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
main .mvv-menu input:checked ~ label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  background-color: var(--laranja-1);
  visibility: visible;
  transform: scaleX(1);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
main .mvv-menu input:checked ~ label:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: center;
  color: currentColor;
}
main .mvv-menu label {
  position: relative;
  font-size: calc(var(--size) * 1.2);
  margin-bottom: 15px;
  align-self: flex-start;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s ease;
}
main .mvv-menu label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  background-color: var(--laranja-1);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
main .mvv-menu label:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: center;
  color: currentColor;
}
main #como-mvv {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 700px;
  align-items: center;
}
main #como-mvv .como__img {
  z-index: 1;
  height: 610px;
  width: 100%;
  background-color: var(--azul-1);
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}
main #como-mvv .como__txt {
  color: var(--preto-1);
  background-color: var(--branco-1);
  height: 550px;
  width: 100%;
  border-radius: 0 30px 30px 0;
  grid-template-rows: 100px 1fr;
}
main #como-mvv .como__txt #missao,
main #como-mvv .como__txt #visao,
main #como-mvv .como__txt #valores {
  padding: 0 5%;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
main #como-mvv .como__txt h3 {
  transform: translateX(0);
}
main #como-mvv .como__txt p {
  transform: translateX(7%);
}
main .mapa {
  margin: 50px auto;
  width: 90%;
}
main .mapa iframe {
  height: 700px;
  width: 100%;
  border-radius: 30px;
  transition: var(--suave);
}
main .mapa iframe:hover {
  box-shadow: 10px 10px 30px var(--azul-1), -10px -10px 30px var(--azul-1);
}
main .formulario {
  max-width: 1200px;
  margin: auto;
}
main .formulario h2 {
  margin: auto;
  margin-bottom: 15px;
  text-transform: capitalize;
  animation: brilho 5s infinite;
}
@keyframes brilho {
  50% {
    color: var(--laranja-1);
    text-shadow: 1px 1px 5px currentColor, -1px -1px 5px currentColor;
  }
}
main .formulario h3 {
  display: none;
}
main .formulario form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 600px;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(27, 81, 216, 0.5019607843), rgba(21, 32, 57, 0.5019607843));
}
main .formulario form div {
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15%;
  padding: 20px;
}
main .formulario form div input {
  height: 50px;
  border-radius: 30px;
  font-size: calc(var(--size) * 1);
  font-family: var(--padrao);
  border: none;
  transition: var(--suave);
  text-indent: calc(var(--size) * 0.5);
}
main .formulario form div input:focus {
  outline: 3px solid rgba(255, 136, 0, 0.8);
}
main .formulario form div input::-moz-placeholder {
  color: var(--laranja-1);
  font-size: calc(var(--size) * 1);
  font-family: var(--padrao);
  text-indent: calc(var(--size) * 0.5);
}
main .formulario form div input::placeholder {
  color: var(--laranja-1);
  font-size: calc(var(--size) * 1);
  font-family: var(--padrao);
  text-indent: calc(var(--size) * 0.5);
}
main .formulario form div h3 {
  color: var(--laranja-1);
}
main .formulario form div textarea {
  height: 80%;
  resize: none;
  border-radius: 30px;
  padding: 10px;
  font-size: calc(var(--size) * 1);
  font-family: var(--padrao);
  border: none;
  transition: var(--suave);
  text-indent: calc(var(--size) * 0.5);
}
main .formulario form div textarea:focus {
  outline: 3px solid rgba(255, 136, 0, 0.8);
}
main .formulario form div textarea::-moz-placeholder {
  color: var(--laranja-1);
  font-size: calc(var(--size) * 1);
  font-family: var(--padrao);
  text-indent: calc(var(--size) * 0.5);
}
main .formulario form div textarea::placeholder {
  color: var(--laranja-1);
  font-size: calc(var(--size) * 1);
  font-family: var(--padrao);
  text-indent: calc(var(--size) * 0.5);
}
main .formulario form div .btn {
  width: -moz-fit-content;
  width: fit-content;
  font-size: calc(var(--size) * 0.8);
  align-self: flex-end;
}
main .servicos {
  max-width: 1200px;
  margin: auto;
  display: grid;
  place-items: center;
  gap: 50px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "h2 btn" "cards cards";
}
main .servicos h2 {
  font-size: calc(var(--size) * 1.47);
  grid-area: h2;
  transform: translateX(50px);
}
main .servicos .svc-btn {
  grid-area: btn;
  place-self: end;
  align-self: center;
  transform: translateX(-50px);
}
main .servicos .btn-white {
  align-self: flex-start;
}
main .servicos .cards {
  display: grid;
  grid-area: cards;
  grid-template-rows: repeat(2, 450px);
  grid-template-areas: "card1 card2" "card3 card4";
  gap: 30px;
}
main .servicos .cards div {
  height: 78%;
  width: 350px;
  padding: 60px;
  background: var(--azul-1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
  line-height: calc(var(--size) * 1.3);
  animation: float 9s ease infinite;
}
main .servicos .cards div:hover {
  animation-play-state: paused;
}
main .servicos .cards div:hover > span i {
  color: var(--laranja-1);
}
main .servicos .cards div:hover > .btn-white {
  background-color: var(--laranja-1);
  color: var(--azul-2);
  border-color: var(--laranja-1);
}
main .servicos .cards div span i {
  color: var(--azul-2);
  font-size: calc(var(--size) * 1.6);
  transition: var(--suave);
}
main .servicos .cards div h3 {
  font-size: calc(var(--size) * 1.1);
  font-weight: bold;
}
main .servicos .cards div p {
  font-size: calc(var(--size) * 0.7);
}
main .servicos .cards .card-1 {
  grid-area: card1;
  border-radius: 50px 4px 4px 4px;
  transform: translateY(-15px);
  animation-delay: 0.2s;
}
main .servicos .cards .card-2 {
  grid-area: card2;
  border-radius: 4px 50px 4px 4px;
  transform: translateY(15px);
  animation-delay: 0.5s;
}
main .servicos .cards .card-3 {
  grid-area: card3;
  border-radius: 4px 4px 4px 50px;
  transform: translateY(-15px);
  animation-delay: 0s;
}
main .servicos .cards .card-4 {
  grid-area: card4;
  border-radius: 4px 4px 50px 4px;
  transform: translateY(15px);
  animation-delay: 0.8s;
}
main .servicos__tab {
  display: none;
}
main .blog {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .blog h2 {
  margin-bottom: 50px;
}
main .blog h2:before {
  bottom: -10px;
  width: 100%;
}
main .blog .blogs {
  width: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main .blog .blogs div img {
  border-radius: 50px;
  width: 550px;
  height: 350px;
  margin-bottom: 20px;
}
main .blog .blogs div .blog__tag {
  background-color: var(--branco-1);
  border-radius: 34px;
  padding: 5px 20px;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-size: calc(var(--size) * 0.8);
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
main .blog .blogs div h3 {
  font-size: calc(var(--size) * 0.85);
}
main .blog .blogs div p {
  width: 90%;
  line-height: calc(var(--size) * 1.3);
  display: block;
}
main .blog .blogs div a {
  align-self: flex-start;
}
main .blog .blog-1,
main .blog .blog-2,
main .blog .blog-3,
main .blog .blog-4,
main .blog .blog-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .blog .blog-1 .blog__tag {
  color: var(--azul-1);
}
main .blog .blog-2 .blog__tag {
  color: var(--laranja-1);
}
main .blog .blog-3 .blog__tag {
  color: var(--azul-2);
}
main .blog .slick-arrow {
  top: 32%;
}
main .blog .slick-arrow::before {
  display: block;
  color: var(--laranja-1);
  transform: translateX(-25px);
}
main .blog .slick-slide:hover a {
  background-color: var(--laranja-1);
  color: var(--azul-2);
  border-color: var(--laranja-1);
}
main .orcamento {
  max-width: 1200px;
  background-color: var(--branco-1);
  border-radius: 20px 50px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 5px;
}
main .orcamento strong {
  color: var(--laranja-1);
}
main .orcamento p {
  color: var(--azul-1);
  width: 85%;
  padding: 30px 0;
  margin: auto;
}
main .orcamento a {
  background-color: var(--laranja-1);
  color: var(--azul-1);
  padding: 15px 10px;
  margin: auto;
  text-decoration: none;
  border-radius: 4px 16px 16px 16px;
  transition: var(--suave);
}
main .orcamento a:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
main .orcamento a:hover > i {
  animation: pisca 1.5s ease;
}
main .orcamento a i {
  transform: rotate(35deg);
  padding-left: 5px;
  animation: wiggle 2.5s infinite;
}
main .duvidas {
  max-width: 1200px;
  background-color: var(--branco-1);
  border-radius: 4px 4px 50px 20px;
  margin: 5px auto;
  margin-bottom: 45px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: var(--suave);
}
main .duvidas .gaveta {
  color: var(--laranja-1);
  font-size: calc(var(--size) * 1.2);
  line-height: calc(var(--size) * 2);
  cursor: pointer;
  transition: var(--suave);
  margin: auto;
  justify-content: flex-start;
  width: 85%;
}
main .duvidas .gaveta::marker {
  content: "+";
  font-size: calc(var(--size) * 2);
  text-align: center;
}
main .duvidas .gaveta:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
main .duvidas .gaveta i {
  font-weight: bolder;
  font-size: calc(var(--size) * 1.2);
}
main .duvidas .gaveta-click {
  color: var(--laranja-1);
  font-size: calc(var(--size) * 1.2);
  line-height: calc(var(--size) * 2);
  cursor: pointer;
  transition: var(--suave);
  margin: auto;
  justify-content: flex-start;
  width: 85%;
}
main .duvidas .gaveta-click::marker {
  content: "-";
  font-size: calc(var(--size) * 2);
  text-align: center;
}
main .duvidas .gaveta-click:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
main .duvidas .gaveta-click i {
  font-weight: bolder;
  font-size: calc(var(--size) * 1.2);
}
main .duvidas ul {
  transform: translateX(5%);
  width: 85%;
  color: var(--preto-1);
  transition: var(--suave);
}
main .duvidas ul li {
  transition: var(--suave);
  border-bottom: 2px solid var(--azul-2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 0;
}
main .duvidas ul li:nth-last-child(1) {
  border: none;
}
main .duvidas ul li .dvd-btn {
  transition: var(--suave);
  cursor: pointer;
  font-weight: bold;
}
main .duvidas ul li .dvd-btn::marker {
  font-size: 0px;
  color: transparent;
}
main .duvidas ul li .dvd-btn:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
main .duvidas ul li .dvd-txt {
  display: block;
  transition: var(--suave);
  color: var(--preto-2);
  font-size: calc(var(--size) * 0.8);
  margin-top: 5px;
  text-indent: 1em;
}
main .voltar {
  z-index: 1;
  position: fixed;
  right: 15px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--azul-2);
  transition: var(--suave);
  cursor: pointer;
}
main .voltar:hover {
  background: var(--laranja-1);
  box-shadow: 0 0 10px black;
}
main .voltar img {
  height: 50px;
}

footer .rodape {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  height: 200px;
}
footer .rodape .acompanhe {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-evenly;
}
footer .rodape .acompanhe:hover .fa-facebook {
  animation: pisca2 0.7s ease normal;
  animation-delay: 0s;
}
footer .rodape .acompanhe:hover .fa-instagram {
  animation: pisca2 0.7s ease normal;
  animation-delay: 0.5s;
}
footer .rodape .acompanhe:hover .fa-twitter {
  animation: pisca2 0.7s ease normal;
  animation-delay: 1s;
}
footer .rodape .acompanhe:hover .fa-whatsapp {
  animation: pisca2 0.7s ease normal;
  animation-delay: 1.5s;
}
footer .rodape .acompanhe:hover .fa-linkedin {
  animation: pisca2 0.7s ease normal;
  animation-delay: 2s;
}
footer .rodape .acompanhe:hover .fa-github {
  animation: pisca2 0.7s ease normal;
  animation-delay: 2.5s;
}
footer .rodape .acompanhe:hover img {
  filter: brightness(100%);
}
footer .rodape .acompanhe h2 {
  font-size: calc(var(--size) * 1.2);
  color: var(--azul-2);
  cursor: pointer;
  font-weight: bold;
  transition: var(--suave);
}
footer .rodape .acompanhe h2:hover {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}
footer .rodape .acompanhe h2:hover::before {
  visibility: hidden;
}
footer .rodape .acompanhe hr {
  border: 1px dashed var(--azul-2);
  width: 100%;
}
footer .rodape .acompanhe ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: calc(var(--size) * 1.1);
}
footer .rodape .acompanhe ul li {
  width: calc(var(--size) * 1.1);
}
footer .rodape .acompanhe ul li a {
  color: var(--branco-1);
  transition: var(--suave);
}
footer .rodape .acompanhe ul li a:hover {
  color: var(--azul-2);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
footer .rodape .acompanhe img {
  width: 95px;
  align-self: flex-end;
  filter: brightness(70%);
  transition: var(--suave);
}
footer .rodape .menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
}
footer .rodape .menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: calc(var(--size) * 0.8);
  line-height: calc(var(--size) * 0.9);
  height: 180px;
}
footer .rodape .menu ul h3 {
  font-size: calc(var(--size) * 1.2);
  color: var(--azul-2);
  font-weight: bold;
  line-height: calc(var(--size) * 1.5);
}
footer .rodape .menu ul a {
  color: var(--branco-1);
  text-decoration: none;
  position: relative;
}
footer .rodape .menu ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: var(--azul-2);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
footer .rodape .menu ul a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: currentColor;
}
footer .direito {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: calc(var(--size) * 0.7);
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  header {
    max-width: 900px;
    width: 90%;
  }
  header h1 {
    display: block;
    margin: auto;
    transform: translateX(50%)-50%;
  }
  header .btn-open,
  header .btn-close {
    display: block;
  }
  header nav {
    display: flex;
    align-items: center;
    position: fixed;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background: var(--azul-2);
    z-index: 1;
    transition: var(--suave);
  }
  header nav .categorias {
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
  }
  header .ativo {
    right: 0px;
  }
  main {
    max-width: 900px;
    width: 90%;
    margin: auto;
  }
  main section {
    margin: 50px auto;
  }
  main .nuvens {
    max-width: 900px;
    width: 100%;
    display: flex;
  }
  main .nuvens i {
    font-size: calc(var(--size) * 3);
    position: absolute;
    transition: 0.3s ease;
  }
  main .nuvens i:hover {
    text-shadow: 0 0 10px white;
  }
  main .nuvens .nuvem_1 {
    left: 7.5%;
    top: 50px;
  }
  main .nuvens .nuvem_2 {
    left: 92%;
    top: 250px;
  }
  main .nuvens .nuvem_3 {
    left: 7.5%;
    top: 500px;
  }
  main .nuvens .nuvem_4 {
    left: 92%;
    top: 1050px;
  }
  main .nuvens .nuvem_5 {
    left: 7.5%;
    top: 1800px;
  }
  main .nuvens .nuvem_6 {
    left: 92%;
    top: 2180px;
  }
  main .nuvens .nuvem_7 {
    left: 7.5%;
    top: 2800px;
  }
  main .nuvens .nuvem_8 {
    left: 92%;
    top: 3570px;
  }
  main .nuvens .nuvem_9 {
    left: 7.5%;
    top: 3900px;
  }
  main .nuvens .nuvem_10 {
    left: 92%;
    top: 4570px;
  }
  main .trilha {
    background-position: 0px, -5px !important;
  }
  main .trilha .banner {
    height: auto !important;
  }
  main .sobre {
    max-width: 900px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  main .sobre .sobre__imgs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }
  main .como {
    max-width: 900px;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
  }
  main .como .como__txt {
    width: 90%;
  }
  main .como .como__txt ul {
    padding: 30px;
  }
  main .servicos {
    display: none;
  }
  main .servicos__tab {
    max-width: 900px;
    display: block;
    flex-flow: column wrap;
    align-items: center;
  }
  main .servicos__tab .header-svc {
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  main .servicos__tab .header-svc h2 {
    font-size: calc(var(--size) * 1.3);
    width: 50%;
  }
  main .servicos__tab .header-svc .svc-btn {
    align-self: center;
    font-size: calc(var(--size) * 0.8);
  }
  main .servicos__tab .header-svc .svc-btn i {
    font-size: calc(var(--size) * 0.8);
  }
  main .servicos__tab .cards__tab {
    max-width: 900px;
  }
  main .servicos__tab .cards__tab .slick-track {
    display: flex;
    gap: 0.5%;
  }
  main .servicos__tab .cards__tab .slick-arrow {
    display: none !important;
  }
  main .servicos__tab .cards__tab .card-1,
  main .servicos__tab .cards__tab .card-2,
  main .servicos__tab .cards__tab .card-3,
  main .servicos__tab .cards__tab .card-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--azul-1);
    padding: 15px 20px;
    border-radius: 50px 50px;
  }
  main .servicos__tab .cards__tab .card-1:hover > span i,
  main .servicos__tab .cards__tab .card-2:hover > span i,
  main .servicos__tab .cards__tab .card-3:hover > span i,
  main .servicos__tab .cards__tab .card-4:hover > span i {
    color: var(--laranja-1);
  }
  main .servicos__tab .cards__tab .card-1:hover .btn-white,
  main .servicos__tab .cards__tab .card-2:hover .btn-white,
  main .servicos__tab .cards__tab .card-3:hover .btn-white,
  main .servicos__tab .cards__tab .card-4:hover .btn-white {
    background-color: var(--laranja-1);
    color: var(--azul-2);
    border-color: var(--laranja-1);
  }
  main .servicos__tab .cards__tab .card-1 span i,
  main .servicos__tab .cards__tab .card-2 span i,
  main .servicos__tab .cards__tab .card-3 span i,
  main .servicos__tab .cards__tab .card-4 span i {
    color: var(--azul-2);
    font-size: calc(var(--size) * 1.1);
    transition: var(--suave);
  }
  main .servicos__tab .cards__tab .card-1 h3,
  main .servicos__tab .cards__tab .card-2 h3,
  main .servicos__tab .cards__tab .card-3 h3,
  main .servicos__tab .cards__tab .card-4 h3 {
    font-size: calc(var(--size) * 0.9);
    font-weight: bold;
  }
  main .servicos__tab .cards__tab .card-1 p,
  main .servicos__tab .cards__tab .card-2 p,
  main .servicos__tab .cards__tab .card-3 p,
  main .servicos__tab .cards__tab .card-4 p {
    font-size: calc(var(--size) * 0.6);
  }
  main .servicos__tab .cards__tab .card-1 .btn-white,
  main .servicos__tab .cards__tab .card-2 .btn-white,
  main .servicos__tab .cards__tab .card-3 .btn-white,
  main .servicos__tab .cards__tab .card-4 .btn-white {
    font-size: calc(var(--size) * 0.8);
    width: 55%;
    padding: 5px;
    align-self: flex-end;
    text-align: center;
  }
  main .servicos__tab .cards__tab .card-1 .btn-white i,
  main .servicos__tab .cards__tab .card-2 .btn-white i,
  main .servicos__tab .cards__tab .card-3 .btn-white i,
  main .servicos__tab .cards__tab .card-4 .btn-white i {
    font-size: calc(var(--size) * 0.7);
  }
  main .servicos__tab .cards__tab .slick-slide {
    width: 350px !important;
    height: 350px !important;
  }
  main .blog {
    max-width: 900px;
    width: 90%;
  }
  main .blog .slick-track {
    display: flex;
    align-items: flex-start;
    gap: 0.5%;
  }
  main .blog .slick-track div {
    width: 90%;
  }
  main .blog .slick-track .slick-slide {
    height: -moz-fit-content;
    height: fit-content;
  }
  main .blog .slick-track .slick-slide img {
    width: 250px;
    max-height: 250px;
  }
  main .blog .blogs div {
    height: 620px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  main .blog .blog-1,
  main .blog .blog-2,
  main .blog .blog-3,
  main .blog .blog-4,
  main .blog .blog-5 {
    width: 669px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  main .blog .blog-1 .blog__tag {
    color: var(--azul-1);
  }
  main .blog .blog-2 .blog__tag {
    color: var(--laranja-1);
  }
  main .blog .blog-3 .blog__tag {
    color: var(--azul-2);
  }
  main .blog .slick-arrow::before {
    display: none;
  }
  main .orcamento {
    max-width: 900px;
    border-radius: 50px 50px 0 0;
  }
  main .orcamento p {
    width: 90%;
    text-align: center;
    padding: 20px 0;
  }
  main .orcamento a {
    border-radius: 16px;
    padding: 10px;
  }
  main .duvidas {
    max-width: 900px;
    border-radius: 0 0 50px 50px;
    padding: 10px 0;
    height: auto;
  }
  main .duvidas .gaveta {
    font-size: calc(var(--size) * 1.1);
    text-align: center;
  }
  main .duvidas .gaveta-click {
    font-size: calc(var(--size) * 1.1);
    text-align: center;
  }
  main .duvidas ul {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 90%;
    margin: auto;
  }
  main .duvidas ul p {
    max-width: 90%;
  }
  main .duvidas ul details {
    text-align: center;
  }
  main .duvidas .dvd-btn,
  main .duvidas .dvd-txt {
    text-align: center;
    width: 100%;
  }
  footer .rodape {
    max-width: 900px;
    width: 90%;
    flex-direction: column;
    height: auto;
  }
  footer .rodape .acompanhe {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  footer .rodape .acompanhe ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 20px;
    height: calc(var(--size) * 1.1);
  }
  footer .rodape .acompanhe ul li {
    width: calc(var(--size) * 1.1);
  }
  footer .rodape .acompanhe ul li a {
    color: var(--branco-1);
    transition: var(--suave);
  }
  footer .rodape .acompanhe ul li a:hover {
    color: var(--azul-2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  footer .rodape .acompanhe img {
    transform: translateY(-50%);
  }
  footer .rodape .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 175px);
    grid-template-areas: "menu contato" "menu agencia";
    place-items: start;
  }
  footer .rodape .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(var(--size) * 1);
    line-height: calc(var(--size) * 0.9);
    min-height: 100%;
    min-width: 100%;
    height: 100%;
  }
  footer .rodape .menu ul:nth-child(1) {
    grid-area: menu;
    align-items: center;
    width: 100px;
    border-right: 2px solid var(--azul-2);
  }
  footer .rodape .menu ul:nth-child(1) li {
    margin: 7% auto;
  }
  footer .rodape .menu ul:nth-child(2) {
    grid-area: agencia;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .rodape .menu ul:nth-child(3) {
    grid-area: contato;
    border-bottom: 2px solid var(--azul-2);
  }
  footer .direito {
    max-width: 900px;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  header {
    max-width: 600px;
  }
  header h1 {
    height: 50px;
    display: grid;
    place-items: center;
  }
  header .btn-open {
    position: absolute;
    right: 6%;
  }
  header nav {
    width: 100%;
  }
  main {
    max-width: 600px;
  }
  main section {
    margin: 25px auto;
  }
  main h2 {
    font-size: calc(var(--size) * 1.3);
  }
  main .nuvens {
    max-width: 600px;
  }
  main .nuvens i {
    font-size: calc(var(--size) * 2);
    position: absolute;
    transition: 0.3s ease;
  }
  main .nuvens i:hover {
    text-shadow: 0 0 10px white;
  }
  main .nuvens .nuvem_1 {
    left: 7.5%;
    top: 50px;
  }
  main .nuvens .nuvem_2 {
    left: 90%;
    top: 250px;
  }
  main .nuvens .nuvem_3 {
    left: 7.5%;
    top: 440px;
  }
  main .nuvens .nuvem_4 {
    left: 90%;
    top: 1050px;
  }
  main .nuvens .nuvem_5 {
    left: 7.5%;
    top: 1450px;
  }
  main .nuvens .nuvem_6 {
    left: 90%;
    top: 2180px;
  }
  main .nuvens .nuvem_7 {
    left: 7.5%;
    top: 2630px;
  }
  main .nuvens .nuvem_8 {
    left: 90%;
    top: 3100px;
  }
  main .nuvens .nuvem_9 {
    left: 7.5%;
    top: 4000px;
  }
  main .nuvens .nuvem_10 {
    left: 90%;
    top: 4450px;
  }
  main .trilha {
    display: block;
    background-position: top center;
  }
  main .trilha .banner {
    text-align: center;
  }
  main .trilha .banner span {
    font-size: calc(var(--size) * 4) !important;
  }
  main .trilha .banner span i {
    display: none;
  }
  main .trilha .banner p {
    font-size: calc(var(--size) * 0.9) !important;
  }
  main .sobre {
    max-width: 600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  main .sobre .sobre__txt p {
    font-size: calc(var(--size) * 0.8);
    margin: 20px auto;
  }
  main .sobre .sobre__txt .btn {
    display: block;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: calc(var(--size) * 0.8);
  }
  main .sobre .sobre__txt .btn i {
    font-size: calc(var(--size) * 0.7);
  }
  main .sobre .sobre__imgs {
    display: block;
    height: 350px;
    width: 350px;
    max-width: 100%;
    animation: fadeImg 20s ease infinite reverse;
  }
  @keyframes fadeImg {
    0% {
      background: url(../assets/img/banner-1.jpg) no-repeat;
      background-size: cover;
      border-radius: 30% 20%;
    }
    20% {
      background: url(../assets/img/banner-2.jpg) no-repeat;
      background-size: cover;
      border-radius: 20% 30%;
    }
    40% {
      background: url(../assets/img/banner-3.jpg) no-repeat;
      background-size: cover;
      border-radius: 30% 20%;
    }
    60% {
      background: url(../assets/img/banner-4.jpg) no-repeat;
      background-size: cover;
      border-radius: 20% 30%;
    }
    80% {
      background: url(../assets/img/banner-5.jpg) no-repeat;
      background-size: cover;
      border-radius: 30% 20%;
    }
    100% {
      background: url(../assets/img/banner-6.jpg) no-repeat;
      background-size: cover;
      border-radius: 20% 30%;
    }
  }
  main .sobre .sobre__imgs img {
    display: none;
  }
  main .como {
    max-width: 600px;
    width: 90%;
  }
  main .como .como__img {
    background-size: cover;
    background-position: center center;
    width: 90%;
  }
  main .como .como__img img {
    width: 80%;
    height: 70%;
  }
  main .como .como__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .como .como__txt ul {
    padding: 10px;
  }
  main .como .como__txt h3 {
    font-size: calc(var(--size) * 0.8);
    transform: translateX(0);
  }
  main .servicos__tab {
    width: 90%;
    max-width: 600px;
  }
  main .servicos__tab .header-svc {
    max-width: 600px;
    display: flex;
    flex-flow: column wrap;
  }
  main .servicos__tab .header-svc h2 {
    width: 100%;
  }
  main .servicos__tab .svc-btn {
    align-self: center;
    font-size: calc(var(--size) * 0.5);
    margin: 15px auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .servicos__tab .svc-btn i {
    font-size: calc(var(--size) * 0.5);
  }
  main .blog {
    max-width: 600px;
    max-height: 600px;
    width: 90%;
  }
  main .blog h2 {
    margin-bottom: 10px;
  }
  main .blog .slick-track {
    display: block;
    align-items: flex-start;
    gap: 1%;
    display: flex;
  }
  main .blog .slick-track div {
    width: 120% !important;
    align-self: flex-start;
  }
  main .blog .blogs div {
    height: 620px;
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
  main .blog .slick-track {
    width: 600px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  main .blog .slick-arrow::before {
    display: none;
  }
  main .orcamento {
    max-width: 600px;
    border-radius: 50px 50px 0 0;
  }
  main .orcamento p {
    width: 90%;
    text-align: center;
    padding: 20px 0;
    font-size: calc(var(--size) * 0.9);
  }
  main .orcamento a {
    border-radius: 30px;
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: calc(var(--size) * 0.9);
    text-align: center;
  }
  main .duvidas {
    max-width: 600px;
    border-radius: 0 0 50px 50px;
    text-align: center;
    padding: 10px 0;
    height: auto;
  }
  main .duvidas h3 {
    font-size: calc(var(--size) * 0.9);
    width: 90%;
  }
  main .duvidas h3 i {
    font-size: calc(var(--size) * 1);
    align-self: center;
  }
  main .voltar {
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
  }
  main .voltar img {
    height: 35px;
  }
  footer .rodape {
    max-width: 600px;
    width: 90%;
    flex-direction: column;
    height: auto;
  }
  footer .rodape .acompanhe {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  footer .rodape .acompanhe h2 {
    font-size: calc(var(--size) * 1);
  }
  footer .rodape .acompanhe ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 20px;
    height: calc(var(--size) * 1.1);
  }
  footer .rodape .acompanhe ul li {
    width: calc(var(--size) * 1.1);
  }
  footer .rodape .acompanhe ul li a {
    color: var(--branco-1);
    transition: var(--suave);
  }
  footer .rodape .acompanhe ul li a:hover {
    color: var(--azul-2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  footer .rodape .acompanhe img {
    transform: translateY(-50%);
  }
  footer .rodape .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer .rodape .menu ul {
    border: none !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  footer .rodape .menu ul:nth-child(1) {
    line-height: calc(var(--size) * 0.1);
  }
  footer .rodape .menu ul:nth-child(1),
  footer .rodape .menu ul:nth-child(2),
  footer .rodape .menu ul:nth-child(3) {
    align-items: center;
  }
  footer .direito {
    max-width: 600px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */