@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&display=swap");
:root {
  --azul-1: #1B50D8;
  --azul-2: #152039;
  --laranja-1: #FF8900;
  --preto-1: #0D0D0D;
  --preto-2: #171717;
  --branco-1: #FFFFFF;
  --branco-2: #F2F2F2;
  --destaque: "Lilita One", cursive;
  --padrao: "Varela Round", sans-serif;
  --size: 1.8rem;
}

body {
  background: linear-gradient(to bottom, var(--preto-1), var(--azul-2), var(--azul-1));
  color: var(--branco-1);
  font-size: var(--size);
  font-family: var(--padrao);
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
header h1 {
  background: url(../assets/logos/logo-vazio.png) no-repeat center center;
  background-size: contain;
  height: 85px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--size) * 1.2);
}
header h1 a {
  color: transparent;
}
header .categorias {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .categorias a {
  position: relative;
  color: white;
  text-decoration: none;
}
header .categorias a:hover > .fa-solid {
  color: var(--laranja-1);
}
header .categorias a::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 4px;
  bottom: -10px;
  left: -10%;
  background-color: var(--laranja-1);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
header .categorias a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: currentColor;
}
header .categorias a i {
  transition: 0.3s ease;
}
header .redes {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .redes li {
  background-color: var(--branco-1);
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
header .redes li i {
  color: var(--azul-2);
  font-size: calc(var(--size) * 1.2);
  transition: 0.3s ease;
  margin-top: 2px;
}
header .redes li i:hover {
  color: var(--laranja-1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner-bg {
  background: url(../assets/itens/estrelas.svg) repeat;
  background-size: contain 100vw;
}
.banner-bg .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  height: 600px;
}
.banner-bg .banner .cloud {
  color: var(--branco-1);
}
.banner-bg .banner .cloud i {
  transition: 0.3s ease;
}
.banner-bg .banner .cloud i:hover {
  text-shadow: 0 0 10px white;
}
.banner-bg .banner .wise {
  color: var(--laranja-1);
  margin: 30px auto;
}
.banner-bg .banner span {
  font-size: calc(var(--size) * 5);
  font-weight: 900;
  font-family: var(--destaque);
  letter-spacing: 5px;
}
.banner-bg .banner p {
  font-size: calc(var(--size) * 1.2);
}
.banner-bg .banner img {
  position: absolute;
  z-index: 0;
  top: 10%;
  left: 32%;
  width: 950px;
  height: 510px;
}

.sobre {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 600px;
}
.sobre .sobre__txt {
  padding: 30px;
  cursor: default;
}
.sobre .sobre__txt h2 {
  font-size: calc(var(--size) * 2);
  position: relative;
}
.sobre .sobre__txt h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -3px;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
.sobre .sobre__txt h2:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: currentColor;
}
.sobre .sobre__txt p {
  margin: 30px auto;
}
.sobre .sobre__imgs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-content: center;
}
.sobre .sobre__imgs img {
  margin: auto;
}
.sobre .sobre__imgs img:nth-child(1) {
  border-radius: 50px 0 0 0;
  width: 90%;
  height: 90%;
  transform: translate(5px, 10px);
}
.sobre .sobre__imgs img:nth-child(2) {
  border-radius: 0 50px 0 0;
  width: 78%;
  height: 78%;
  transform: translate(-25px, 30px);
}
.sobre .sobre__imgs img:nth-child(3) {
  border-radius: 0 0 0 50px;
  width: 78%;
  height: 78%;
  transform: translate(23px, -20px);
}
.sobre .sobre__imgs img:nth-child(4) {
  border-radius: 0 0 50px 0;
  width: 90%;
  height: 90%;
  transform: translate(-7px, 0);
}

img {
  width: 200px;
}/*# sourceMappingURL=style.css.map */