@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Exo+2&family=Montserrat&family=Poppins&display=swap');

:root {
    --laranja: #cb6600;
    --cinza-1: #333;
    --cinza-2: #4d4d4d;
    --cinza-3: #ccc;
    --branco-1: #FFF;
    --branco-2: #f2f2f2;
    --preto-1: #000;
    --preto-2: #0c0c0c;

    --padrao: ""

}

body {
    font-family: 'Poppins', sans-serif;
}

.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo nav ul{
    display: flex;
}
.topo div ul{
    display: flex;
}

.topo h1{
    background: url(../assets/img/logo03.svg) no-repeat center center;
    width: 150px;
    height: 60px;
    text-indent: -9999px;
}

.menu a{
    color: var(--cinza-1);
    text-decoration: none;
    padding: 10px 40px;
    border: solid 1px var(--cinza-1);
    margin-right: 10px;
    border-radius: 5px 10px;
    transition: .5s ease;
    font-family: 'Bruno Ace SC', cursive;;
}

.menu a:hover{
    background-color: var(--cinza-1);
    color: var(--cinza-3);
    border: solid 1px var(--preto-1);
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.815);
}

.ativo {
    color: var(--laranja)!important;
    font-weight: bold;
}


.redeSocialTodo{
    text-align: center;
}

.redeSocialTodo button{
    margin-bottom: 10px;
    background-color: var(--laranja);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4rem;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.redeSocialTodo button:hover {
    background-color: var(--cinza-3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.redeSocialTodo a{
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 50px;
    display: block;
    text-indent: -9999px;
    margin-right: 10px;
    margin-bottom: 40px;
    transition: .3s ease;
}

.redeSocialTodo a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.redeSocialTodo ul li:nth-child(1) a{
    background: url(../assets/img/redeSocial/facepreto.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(1) a:hover{
    background: url(../assets/img/redeSocial/facebook.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(2) a{
    background: url(../assets/img/redeSocial/instaPreto.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(2) a:hover{
    background: url(../assets/img/redeSocial/instagram.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(3) a{
    background: url(../assets/img/redeSocial/WhatsPreto.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(3) a:hover{
    background: url(../assets/img/redeSocial/WhatsVerde.svg) no-repeat;
}

.redeSocialTodo ul li:last-child a{
    margin-right: 0;
}

.banner img{
    width: 100%;
}

.sobre{
    padding: 50px 0;
}
.sobre div{
    display: flex;
    justify-content: space-around;
}
.sobre div div{
    flex-direction: column;
    width: 45%;
    justify-content: flex-start;
}

#contSobre h2{
    font-size: 30px;
    text-transform: uppercase;
    color: var(--cinza-1);
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 5px ;
    font-family: ;
}

#contSobre p{
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    flex-grow: 1;    
}

#contSobre button{
    align-self: end;
    cursor: pointer;
    background: var(--cinza-3);
    border: solid 1px var(--cinza-1);
    color: var(--cinza-1);
    border-radius: 5px 15px;
    padding: 5px 15px;
}

#contSobre button:hover{
    background: var(--cinza-1);
    border: solid 1px var(--cinza-3);
    color: var(--cinza-3);
}

.sobre img{
    width: 100%;
}


.servico{
    padding: 50px 0;
    text-align: center;
}
.servico h2{
    font-size: 30px;
    text-transform: uppercase;
    color: var(--cinza-1);
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}
.servico div div{
    display: flex;
    justify-content: space-around;
}
.servico div div div{
    width: 25%;
    flex-direction: column;
}

.servico div div div h3{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--cinza-1);
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px ;
}

.servico img{
    width: 100%;
    height: 150px;
    border-radius: 5px 15px;
    margin-bottom: 25px;
}

.servico div div div p{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    flex-grow: 1;    
}

.servico div div div button{
    align-self: end;
    cursor: pointer;
    background: var(--cinza-3);
    border: solid 1px var(--cinza-1);
    color: var(--cinza-1);
    border-radius: 5px 15px;
    padding: 5px 15px;
}

.servico div div div button:hover{
    background: var(--cinza-1);
    border: solid 1px var(--cinza-3);
    color: var(--cinza-3);
}


