@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// ---------------------------------------------------------------------------

// FONTE
$fonte: 'Poppins', sans-serif;
// ---------------------------------------------------------------------------

// DARK
$dark-gradient: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
$dark-gradient-hover: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
$dark-bg: linear-gradient(113.49deg, #444C4D -30.3%, #111113 58.12%);
$dark-null: linear-gradient(228.74deg, #949393CC 0%, #1F1E1ECC 84.9%);
// ---------------------------------------------------------------------------

// LIGHT
$light-gradient: linear-gradient(214.02deg, #ff6600 6.04%, #FFFF00 92.95%);
$light-gradient-hover: linear-gradient(214.02deg, #FFFF00 6.04%, #ff6600 92.95%);
$light-bg: linear-gradient(45deg, #FFFFFF 0%, #8D8D8D 100%);
$light-null: linear-gradient(228.74deg, #D9D9D9CC 0%, #757575CC 84.9%);
// ---------------------------------------------------------------------------

//DEFAULT
$black-100: rgba(0, 0, 0, 1);
$black-50: rgba(0, 0, 0, 0.5);
$black-30: rgba(0, 0, 0, 0.3);

$white-100: rgba(255, 255, 255, 1);
$white-50: rgba(255, 255, 255, 0.5);
$white-30: rgba(255, 255, 255, 0.3);

$transparent: transparent;

$size: 1.3rem;
// ---------------------------------------------------------------------------

@keyframes pump {
    50% {
        color: $black-50;
    }
}

// GERAL
body {
    background: $dark-bg;
    font-family: $fonte;
    font-size: $size;
    max-width: 1200px;
    margin: auto;
    color: $white-100;
    cursor: default;
}

// BOTÕES
.btn {
    display: grid;
    place-items: center;
    background: $dark-gradient;
    border-radius: 6px 16px;
    height: 50px;
    cursor: pointer;
    transition: 1s ease;

    &:hover {
        background: $dark-gradient-hover;
        font-weight: bold;
        font-size: $size * 1.1;
        animation: pump .5s ease-in-out;
    }
}

.bloco {
    display: grid;
    place-items: center;
    background: $dark-gradient;
    border-radius: 6px 16px;
    transition: .8s ease;

    &:hover {
        font-weight: bold;
        background: $dark-gradient-hover;
        font-size: $size * 1.1;
        animation: pump .5s ease-in-out;

    }
}

h2 {
    font-size: $size * 2.4;
    font-weight: bolder;
    position: relative;
    letter-spacing: 3px;
    cursor: default;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -5px;
        left: 0%;
        background-color: $white-100;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 300ms cubic-bezier(.57, -0.02, .31, .71);
    }

    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
        transform-origin: left;
        color: $white-100;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;

    .perfil {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 110px;
        cursor: default;

        .perfil__img {
            height: 40px;
            width: 40px;
        }
    }

    .menu ul {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            color: white;
            text-decoration: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 120%;
                height: 3px;
                bottom: -5px;
                left: -8%;
                background-color: $white-100;
                visibility: hidden;
                transform: scaleX(0);
                transition: transform 300ms cubic-bezier(.57, -0.02, .31, .71);
            }

            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
                transform-origin: left;
                color: $white-100;
            }
        }
    }

    .contato {
        width: 115px;
    }
}

main {
    section {
        margin: 130px auto;
    }

    .home {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        cursor: default;

        .home__txt {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: baseline;
            font-size: $size*1.1;

            h1 {
                font-size: $size*5;
                font-weight: 900;

                span {
                    background: $dark-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:hover {
                        background: $dark-gradient-hover;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            p {
                line-height: $size * 1.85;
            }

            strong {
                font-weight: bold;
            }

            .home__link {
                background: $dark-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 900;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    background: $dark-gradient-hover;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        .home__img {
            display: grid;
            place-items: center;
            grid-template-columns: 550px 50px;

            .foto {
                width: 90%;
                height: 650px;
                background: $light-bg;
                border-radius: 36px 100px;
            }

            span {
                transform: rotate(90deg);
                width: 300px;
                height: $size;
                color: $white-30;
                font-weight: bold;
                letter-spacing: 5px;
                text-align: center;
                text-transform: uppercase;
                transition: .5s ease-in-out;

                &:hover {
                    color: $white-50;
                    text-shadow: 0px 0px 3px $white-100;
                }
            }
        }
    }

    .redes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: $size * 2;

        div {
            height: 60px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .git-div {
            .git-hover {
                display: none;
            }

            .git:hover {
                display: none;
            }

            .git:hover+.git-hover {
                display: block;
                transform: translate(-4px, 9px);
            }
        }

        .link-div {
            .link-hover {
                display: none;
            }

            .link:hover {
                display: none;
            }

            .link:hover+.link-hover {
                display: block;
                transform: translate(8px, 8px);
            }
        }

        .insta-div {
            .insta-hover {
                display: none;
            }

            .insta:hover {
                display: none;
            }

            .insta:hover+.insta-hover {
                display: block;
                transform: translate(-3px, 3px);
            }
        }

    }

    .sobre {
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: 500px;

        .sobre__txt {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            gap: 25px;
            line-height: $size * 1.85;
            padding: 50px 0px 50px 90px;

            p {
                font-size: $size * 1.05;
            }

            a {
                display: flex;
                justify-content: space-evenly;
                color: $white-100;
                text-decoration: none;
                width: 150px;
                align-self: flex-end;
                padding: 3px;

                i {
                    font-size: $size*1.1;
                }
            }
        }

        .sobre__img {
            background: url(../assets/bordas.svg) no-repeat center center;
            background-size: cover;

            .img {
                background: $light-bg;
                border-radius: 50px 160px;
                width: 500px;
                height: 500px;
            }
        }
    }

    .habilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;

        .cards__hab {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                background: $dark-gradient;
                border-radius: 16px 36px;
                width: 380px;
                height: 380px;
                margin: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                text-align: center;
                transition: .5s ease;

                i {
                    font-size: $size * 2.5;
                    line-height: $size * 3;
                }

                h3 {
                    font-size: $size * 1.5;
                    font-weight: bolder;
                    width: 350px;
                }

                p {
                    font-size: $size;
                    line-height: $size * 1.6;
                    width: 350px;
                }

                &:hover {
                    background: $dark-gradient-hover;
                    filter: brightness(110%);
                    box-shadow: 0 2px 4px $black-50;
                }
            }
        }

        .cards__niv {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                background: $dark-null;
                border-radius: 16px 36px;
                width: 380px;
                height: 85px;
                margin: 5px;
                display: flex;
                transition: .5s ease;

                &:hover {
                    filter: brightness(120%);
                    box-shadow: 0 2px 4px $black-50;
                }

                .porcentagem {
                    background: $dark-gradient;
                    margin: 0;
                    border-radius: 16px 0 0 36px;

                    &:hover {
                        background: $dark-gradient-hover;
                    }
                }

                .webDesign__niv {
                    width: 45%;
                }

                .devWeb__niv {
                    width: 65%;
                }

                .prog__niv {
                    width: 35%;
                }
            }
        }
    }

    .portifolio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        p {
            font-size: $size * 1.2;
            color: $white-50;
            margin: 30px auto;
        }

        .telas {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;


            iframe {
                background: $dark-null;
                border-radius: 16px 36px;
                width: 390px;
                height: 515px;
                margin: 5px;

            }
        }

        h3 {
            font-size: $size * 1.4;
            line-height: $size * 1.7;
            font-weight: bold;
        }

        h4 {
            font-size: $size * 1.2;
            line-height: $size * 1.6;
        }
    }

    .numeros {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 190px;
        padding: 10px;

        background: $dark-gradient;
        border-radius: 10px 30px;

        div {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            font-size: $size * 3;
            font-weight: bold;
        }

        .line {
            height: 60%;
            width: 3px;
            background-color: $white-50;
        }
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        width: 650px;
        text-align: center;

        span {
            height: 80px;
            width: 80px;
            font-size: $size * 2;

            &:hover {
                font-size: $size * 2.5;
            }
        }

        p {
            color: $white-30;
            font-size: $size * 1.2;
            transition: .5s ease-in-out;

            &:hover {
                color: $white-100;
                text-shadow: 0 0 5px $white-100;
            }
        }

        .social-redes {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 40px;
            height: 60px;

            .redes {
                width: 50px;
                height: 50px;
                transition: .5s ease-in-out;

                &:hover {
                    height: 60px;
                    width: 60px;
                }

                i {
                    font-size: $size * 1.8;

                    &:hover {
                        font-size: $size * 2;
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;
    margin-bottom: 60px;
    color: $white-50;
    font-weight: bold;

    span {
        &::before {
            content: "<>";
            color: $white-100;
        }

        &:after {
            content: "</>";
            color: $white-100;
        }
    }
}