@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@keyframes pump {
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
}
body {
  background: linear-gradient(113.49deg, #444C4D -30.3%, #111113 58.12%);
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  max-width: 1200px;
  margin: auto;
  color: rgb(255, 255, 255);
  cursor: default;
}

.btn {
  display: grid;
  place-items: center;
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  border-radius: 6px 16px;
  height: 50px;
  cursor: pointer;
  transition: 1s ease;
}
.btn:hover {
  background: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
  font-weight: bold;
  font-size: 1.43rem;
  animation: pump 0.5s ease-in-out;
}

.bloco {
  display: grid;
  place-items: center;
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  border-radius: 6px 16px;
  transition: 0.8s ease;
}
.bloco:hover {
  font-weight: bold;
  background: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
  font-size: 1.43rem;
  animation: pump 0.5s ease-in-out;
}

h2 {
  font-size: 3.12rem;
  font-weight: bolder;
  position: relative;
  letter-spacing: 3px;
  cursor: default;
}
h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  left: 0%;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
h2:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
header .perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  cursor: default;
}
header .perfil .perfil__img {
  height: 40px;
  width: 40px;
}
header .menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .menu ul a {
  color: white;
  text-decoration: none;
  position: relative;
}
header .menu ul a::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 3px;
  bottom: -5px;
  left: -8%;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
header .menu ul a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: rgb(255, 255, 255);
}
header .contato {
  width: 115px;
}

main section {
  margin: 130px auto;
}
main .home {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  cursor: default;
}
main .home .home__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 1.43rem;
}
main .home .home__txt h1 {
  font-size: 6.5rem;
  font-weight: 900;
}
main .home .home__txt h1 span {
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .home .home__txt h1 span:hover {
  background: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .home .home__txt p {
  line-height: 2.405rem;
}
main .home .home__txt strong {
  font-weight: bold;
}
main .home .home__txt .home__link {
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}
main .home .home__txt .home__link:hover {
  background: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .home .home__img {
  display: grid;
  place-items: center;
  grid-template-columns: 550px 50px;
}
main .home .home__img .foto {
  width: 90%;
  height: 650px;
  background: linear-gradient(45deg, #FFFFFF 0%, #8D8D8D 100%);
  border-radius: 36px 100px;
}
main .home .home__img span {
  transform: rotate(90deg);
  width: 300px;
  height: 1.3rem;
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
main .home .home__img span:hover {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
main .redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.6rem;
}
main .redes div {
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .redes .git-div .git-hover {
  display: none;
}
main .redes .git-div .git:hover {
  display: none;
}
main .redes .git-div .git:hover + .git-hover {
  display: block;
  transform: translate(-4px, 9px);
}
main .redes .link-div .link-hover {
  display: none;
}
main .redes .link-div .link:hover {
  display: none;
}
main .redes .link-div .link:hover + .link-hover {
  display: block;
  transform: translate(8px, 8px);
}
main .redes .insta-div .insta-hover {
  display: none;
}
main .redes .insta-div .insta:hover {
  display: none;
}
main .redes .insta-div .insta:hover + .insta-hover {
  display: block;
  transform: translate(-3px, 3px);
}
main .sobre {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 500px;
}
main .sobre .sobre__txt {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;
  line-height: 2.405rem;
  padding: 50px 0px 50px 90px;
}
main .sobre .sobre__txt p {
  font-size: 1.365rem;
}
main .sobre .sobre__txt a {
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 150px;
  align-self: flex-end;
  padding: 3px;
}
main .sobre .sobre__txt a i {
  font-size: 1.43rem;
}
main .sobre .sobre__img {
  background: url(../assets/bordas.svg) no-repeat center center;
  background-size: cover;
}
main .sobre .sobre__img .img {
  background: linear-gradient(45deg, #FFFFFF 0%, #8D8D8D 100%);
  border-radius: 50px 160px;
  width: 500px;
  height: 500px;
}
main .habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
main .habilidades .cards__hab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .habilidades .cards__hab div {
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  border-radius: 16px 36px;
  width: 380px;
  height: 380px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  transition: 0.5s ease;
}
main .habilidades .cards__hab div i {
  font-size: 3.25rem;
  line-height: 3.9rem;
}
main .habilidades .cards__hab div h3 {
  font-size: 1.95rem;
  font-weight: bolder;
  width: 350px;
}
main .habilidades .cards__hab div p {
  font-size: 1.3rem;
  line-height: 2.08rem;
  width: 350px;
}
main .habilidades .cards__hab div:hover {
  background: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
  filter: brightness(110%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
main .habilidades .cards__niv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .habilidades .cards__niv div {
  background: linear-gradient(228.74deg, rgba(148, 147, 147, 0.8) 0%, rgba(31, 30, 30, 0.8) 84.9%);
  border-radius: 16px 36px;
  width: 380px;
  height: 85px;
  margin: 5px;
  display: flex;
  transition: 0.5s ease;
}
main .habilidades .cards__niv div:hover {
  filter: brightness(120%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
main .habilidades .cards__niv div .porcentagem {
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  margin: 0;
  border-radius: 16px 0 0 36px;
}
main .habilidades .cards__niv div .porcentagem:hover {
  background: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
}
main .habilidades .cards__niv div .webDesign__niv {
  width: 45%;
}
main .habilidades .cards__niv div .devWeb__niv {
  width: 65%;
}
main .habilidades .cards__niv div .prog__niv {
  width: 35%;
}
main .portifolio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .portifolio p {
  font-size: 1.56rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 30px auto;
}
main .portifolio .telas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
main .portifolio .telas iframe {
  background: linear-gradient(228.74deg, rgba(148, 147, 147, 0.8) 0%, rgba(31, 30, 30, 0.8) 84.9%);
  border-radius: 16px 36px;
  width: 390px;
  height: 515px;
  margin: 5px;
}
main .portifolio h3 {
  font-size: 1.82rem;
  line-height: 2.21rem;
  font-weight: bold;
}
main .portifolio h4 {
  font-size: 1.56rem;
  line-height: 2.08rem;
}
main .numeros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 190px;
  padding: 10px;
  background: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  border-radius: 10px 30px;
}
main .numeros div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3.9rem;
  font-weight: bold;
}
main .numeros div:hover {
  animation: pump 1s ease-in-out;
}
main .numeros .line {
  height: 60%;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
main .social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 650px;
  text-align: center;
}
main .social span {
  height: 80px;
  width: 80px;
  font-size: 2.6rem;
}
main .social span:hover {
  font-size: 3.25rem;
}
main .social p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.56rem;
  transition: 0.5s ease-in-out;
}
main .social p:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(255, 255, 255);
}
main .social .social-redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  height: 60px;
}
main .social .social-redes .redes {
  width: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}
main .social .social-redes .redes:hover {
  height: 60px;
  width: 60px;
}
main .social .social-redes .redes i {
  font-size: 2.34rem;
}
main .social .social-redes .redes i:hover {
  font-size: 2.6rem;
}

footer {
  text-align: center;
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
footer span::before {
  content: "<>";
  color: rgb(255, 255, 255);
}
footer span:after {
  content: "</>";
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */