@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&display=swap");

:root {
  --orange-1: #ff8900;
  --orange-2: hsl(32, 100%, 60%);
  --blue-1: #1b50d8;
  --blue-2: #152039;
  --black-1: #0d0d0d;
  --black-2: #171717;
  --white-1: #ffffff;
  --white-2: #f2f2f2;
  --shadow: #cc02ff;

  --titulo: "Lilita One", cursive;
  --padrao: "Varela Round", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, var(--blue-2), var(--black-2));
  color: var(--white-1);
  font-family: var(--padrao);
}

header {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*logo no começo*/

header h1 {
  font-family: var(--titulo);
  display: flex;
  align-items: flex-end;
}

.cloud {
  color: var(--white-1);
  margin: 0 10px;
}

.wise {
  color: var(--orange-1);
}

.header__h1-logo {
  height: 82px;
  margin: 0 10px;
}

/*lista de categorias*/

#header__categorias ul {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--padrao);
  font-size: 25px;
}

#header__categorias ul li {
  list-style: none;
}

#header__categorias ul li a {
  color: var(--white-1);
  text-decoration: none;
  transition: 0.2s ease;
}

#header__categorias ul li a:hover {
  font-weight: bold;
  border-bottom: 2px solid var(--orange-1);
  color: var(--white-1);
}

/*lista de redes sociais*/

#header__redes ul {
  display: flex;
  gap: 10px;
}

#header__redes ul li {
  list-style: none;
}

.fa-brands {
  text-align: center;
  background-color: var(--white-1);
  color: var(--blue-2);
  font-size: 36px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.fa-brands:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: var(--orange-1);
}

/*efeitos header*/

.header__efeitos {
  position: absolute;
}

.header__efeitos img {
  width: 400px;
  height: 400px;
  filter: brightness(150%);
}

.header__sombra-1 {
  width: 400px;
  height: 400px;
  background-image: url(/cloud-wise/assets/header__sombra.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -150px;
  left: -60px;
}

.header__sombra-2 {
  width: 400px;
  height: 400px;
  background-image: url(/cloud-wise/assets/header__sombra.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 980px;
}

.header__sombra-3 {
  width: 400px;
  height: 400px;
  background-image: url(/cloud-wise/assets/header__sombra.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 630px;
  left: -190px;
}

.header__sombra-4 {
  width: 400px;
  height: 400px;
  background-image: url(/cloud-wise/assets/header__sombra.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 550px;
  left: 1100px;
}

.header__trilha {
  position: absolute;
  top: 250px;
  left: 825px;
  transform: scale(2.1, 2.1);
}

/*banner*/

#banner {
  margin: 0 auto;
  max-width: 1200px;
}
.banner__nome {
  font-family: var(--titulo);
  font-size: 100px;
  text-align: center;
  letter-spacing: 9px;
}

.banner__nome {
  cursor: default;
}
.banner__cloud {
  color: var(--white-1);
  text-indent: 1em;
}

.banner__wise {
  color: var(--orange-1);
  text-indent: -1em;
}

#banner p {
  color: var(--white-1);
  font-family: var(--padrao);
  font-size: 30px;
  width: 515px;
  padding: 10px 30px;
  margin: 10px 200px;
}

.rot {
  display: flex;
  align-items: center;
  transform: rotate(270deg) translate(0, -50%);
  font-family: var(--padrao);
  font-size: 20px;
  color: var(--blue-1);
  width: 110px;
  position: absolute;
  top: 72%;
  left: 50%;
  border-radius: 16px;
  transition: .3s ease;
}

.rot:hover {
  cursor: default;
  color: var(--orange-1);

  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.rot i {
  font-size: 36px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-1);
  color: var(--blue-2);
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: 20px;
  text-indent: 0.9em;
  border-radius: 34px;
  font-family: var(--padrao);
  border: none;
  margin-left: 227px;
  margin-top: 50px;
  transition: 0.5s ease;
  width: 243px;
  height: 55px;
}

.fa-arrow-up {
  font-size: 40px;
  width: 45px;
  height: 45px;
  color: var(--blue-2);
  transform: rotate(45deg) translate(-8px, 0px);
}

button:hover {
  background-color: var(--orange-2);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 21px;
}

.banner__img-1 {
  transform: translate(900px, -70%);
  width: 450px;
  height: 450px;
  border-radius: 32px;
}

.banner__img-2 {
  transform: translate(-210%, -79%);
  width: 240px;
  height: 300px;
  border-radius: 32px;
}

.banner__selo {
  transform: translate(265%, -160%);
}

/*  sobre  */

#sobre {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

/* sobre txt */

.sobre__texto {
  padding: 20px;
}

.sobre__texto h2 {
  font-size: 3em;
  line-height: 3em;
  font-weight: bold;
}

.sobre__texto p {
  font-size: 20px;
  line-height: 1.5em;
}

.sobre__texto button {
  margin-left: 0px;
}

/* sobre img */

.sobre__imgs {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-template-areas:
    "teste1 teste2"
    "teste3 teste4";
}

.sobre__img-1 {
  grid-area: teste1;
  border-radius: 64px 0 0 0;
  width: 290px;
  height: 290px;
}

.sobre__img-2 {
  grid-area: teste2;
  border-radius: 0 64px 0 0;
  width: 250px;
  height: 250px;
  margin-top: 40px;
  margin-left: 10px;
}

.sobre__img-3 {
  grid-area: teste3;
  border-radius: 0 0 0 64px;
  width: 250px;
  height: 250px;
  margin-top: 10px;
  margin-left: 40px;
}

.sobre__img-4 {
  grid-area: teste4;
  border-radius: 0 0 64px 0;
  width: 290px;
  height: 290px;
  margin-top: 10px;
  margin-left: 10px;
}

/* numeros */

#numeros {
  max-width: 1200px;
  margin: 80px auto;
}

.num__categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.num-cat h2 {
  font-size: 3em;
  line-height: 1.5em;
}

.num-cat p {
    font-size: 1.5em;
}

/* empresas */

#empresas {
    max-width: 1200px;
    margin: 80px auto;
}

.empresas__marcas {
    display: flex;
    justify-content: space-around;
    
}

.emp-marcas img {
    width: 200px;
    background-color: white;
    filter: grayscale(1);
    transition: .3s ease;
}

.emp-marcas img:hover {
    filter: grayscale(0);
}
