/*  BANNER  */

#banner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 700px;
}

#banner-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 32px;
    width: 50%;
    height: 50%;

    background-color: var(--cor-2);
    opacity: 0.9;
    text-transform: uppercase;
    transition: ease .3s;
}

#banner-txt:hover {
    box-shadow: 0px 0px 50px var(--cor-5);
    filter: brightness(120%);
    width: 55%;
    height: 55%;
    font-size: larger;
}

#banner-txt h1 {
    font-size: 3em;
    color: var(--cor-5);
    padding: 10px;
}

#banner-txt h2 {
    font-size: 1.5em;
    color: var(--cor-3);
    padding: 10;
}