footer {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    grid-template-areas: 
        "col1 col2 col3 col4"
        "lin2 lin2 lin2 lin2";
    

    height: 350px;

    background-color: var(--cor-1);
    color: var(--white);
}

footer h4 {
    text-transform: uppercase;
}

.f-lista {
    padding-top: 20px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2em;
}

.f-lista h4 {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.lista-cat {
    grid-area: col1;
}

.lista-serv {
    grid-area: col2;
}

.lista-col {
    grid-area: col3;
    color: var(--white);
}

.lista-col li:hover {
    text-shadow: 0px 0px 7px var(--cor-5);
    cursor: pointer;
}

.lista-redes {
    grid-area: col4;
}

.lista-redes-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-git img, .footer-insta img, .footer-link img {
    width: 40px;
}

footer p {
    grid-area: lin2;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    display: grid;
    place-items: center;
    color: var(--cor-4);
}

footer a:hover {
    text-decoration: none;
}