/*  GALERIA  */

#galeria {
    height: 390px;
    max-width: 1920px;
}

#galeria h2 {
    text-align: center;
    margin-bottom: 50px;
}

#carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.fundo {
    height: 240px;
    width: 240px;
    background: var(--cor-2) url(../assets/2-png.png) no-repeat center;
    background-size: contain;
    border: 1px solid black;
    border-radius: 20px 40px;
    transition: ease .5s;
}

.fundo:hover {
    transition: ease .5s;
    width: 260px;
    height: 260px;
}