/*  NAVBAR  */

header {
    background-image: linear-gradient(45deg, var(--cor-3), var(--cor-1));
}

#menu {
    display: flex;
    min-width: 1200px;
    background-color: var(--cor-3);
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 140px;
    font-size: 1.5rem;

    background-color: var(--cor-3);
    
}

.logo {
    width: 120px;
    height: 120px;
    padding: 10px;
}

ul#categorias {
    display: flex;
    gap: 20px;
    align-items: center;
}

#busca {
    height: 30px;
    width: 300px;
    margin: 10px;

    border-radius: 34px;
    border: 1.5px solid var(--cor-1);
    transition: ease .3s;
    text-indent: 1em;
}

#busca:hover,
#busca:focus-within {
    box-shadow: 0px 0px 7px var(--cor-5);
    transition: ease .3s;
    outline: none;
}

ul#redes {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social {
    width: 36px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: ease .3s;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 7px var(--cor-5);
    transition: ease .3s;
}
