/*  SERVIÇOS  */

#servicos {
    max-width: 1200px;
    margin: auto;
    height: 1000px;
}

#servicos h2 {
    text-align: center;
    margin: 50px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    gap: 30px;
}

.card {
    width: 100%;
    height: 800px;

    text-align: center;
    border-radius: 20px 40px;

    line-height: 2em;
    font-size: 1.5em;
    transition: ease .5s;
    color: var(--cor-5);
}

.card li {
    transition: ease .7s;
}

.card li:hover {
    transition: ease .7s;
    text-shadow: 0px 0px 7px var(--cor-5);
    font-weight: bold;
    cursor: pointer;
}

.card:hover {
    filter: brightness(120%);
    transition: ease .5s;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    width: 110%;
    height: 105%
}

.card-1 {
    background-color: var(--cor-3);
}

.card-2 {
    background-color: var(--cor-1);
}

.card-3 {
    background-color: var(--cor-2);
}

.img-card {
    width: 90%;
}
